
/* Your CSS Code here. */
.container h1{
    
}
.container{
    width: 200px;
    background-color: purple;
    padding: 10px;   
    border-left: 5px solid green;
}
.container div{
   
   padding: 10px;
   color: white;
    font-size: 20px;
}
