
/* Your CSS Code here. */
h1{
    color: white;
}
.container{
    width: 200px;
    background-color: purple;
    /* padding: 10px; */
    border-left: 5px solid green; 
    font-size: 20px;
    color: white;    
}
div{
    padding: 10px;
}
